07_Web-services/Lesson4_4_Service/src/main/resources/translator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xs:element name="getTranslateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="word" type="xs:token"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTranslateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="word" type="xs:token"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>